[v-cloak] {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
}

#app{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tabs {
    width: 100%;
    height: 100%;
    min-width: 1100px;
    position: relative;
}

.tabs-bar {
    width: 20%;
    height: 100%;
    float: left;
    border: 5px solid pink;
}

.tabs-tab {
    width: 100%;
    height: 20%;
    min-height: 100px;
    color: #009ee0;
    font-size: 5vh;
    line-height: 4;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: pink;
    transition: .5s;
}

.tabs-tab:hover {
    background-color: white;
}

#app .tabs-tab-active {
    background-color: #fff;
}

.tabs-content {
    width: 80%;
    height: 100%;
    float: right;
    background-color: pink;
    position: relative;
}

.pane {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: pink;
}

.pane>img {
    width: 100%;
    height: 100%;

}